<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @raffle.title %></h1><br>
  <h3> <%= @raffle.description %></h3><br><br>
  <div class="counter"><%= @count %> tickets have been sold for this raffle. </div>
</div>
<div class="row prize">
  <div class="col-sm-6 col-md-4 prize">
      <img src="..." alt="...">
      <div class="caption">
        <h3>PRIZE</h3>
        <h4><%= @raffle.prize %></div></h4>
        <br>
      </div>
   </div>
        <% if @raffle.winner == nil %>
  <%= link_to 'Buy 1 Ticket', confirm_path(raffle_id: @raffle.id) %>
 <% else %>
 <div class= "winner">The Winning Ticket: <br><br><strong><%= @raffle.winner.first_name%> <%= @raffle.winner.last_name%> </strong></div>
 <% end %>

          </div>
       </div>
<br><br>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Back', raffles_path %></button>
  <% if current_user.admin? %>
      <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_raffle_path(@raffle) %></button>
      <%= button_to 'Generate Winner' , "/winner/#{@raffle.id}" %>
<% end %>
</div>
