<p id="notice"><%= notice %></p>

<p><%= @count %> tickets have been sold for this raffle. </p>
<p>
  <strong>Title:</strong>
  <%= @raffle.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raffle.description %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @raffle.prize %>
</p>

<% if @raffle.winner == nil %>
<%= link_to 'Buy 1 Ticket', confirm_path(raffle_id: @raffle.id) %>
<% else %>
<%= @raffle.winner.first_name%>
<%= @raffle.winner.last_name%>
<% end %>


<%= link_to 'Back', raffles_path %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_raffle_path(@raffle) %> |
    <%= button_to 'Generate Winner' , "/winner/#{@raffle.id}" %>
 <% end %>
