<p id="notice"><%= notice %></p>
<h2> WynRaffe Account </h2>
<div class="row">
  <div class="col-md-2 y"><strong>First Name</strong></div>
  <div class="col-md-2 x">  <%= @user.first_name %></div>
</div>
<div class="row">
  <div class="col-md-2 y"><strong>Last Name</strong></div>
  <div class="col-md-2 x ">  <%= @user.last_name %></div>
</div>
<div class="row">
  <div class="col-md-2 y"><strong>Email</strong></div>
  <div class="col-md-2 x">  <%= @user.email %></div>
</div>
<div class="row">
  <div class="col-md-2 y "><strong>Phone number</strong></div>
  <div class="col-md-2 x ">  <%= @user.phone_number %></div>
</div>
</div><br>
<%= link_to 'Update Your Account', edit_user_path(@user) %><br>

<h2> WynRaffle Event History</h2>
<% @user.raffles.each do |raffle|  %>
  <div class="">
    <div class="ticket">
      <%= link_to raffle.title, raffle, class: 'raffle_link' %><br>
        <h4>  Prize: <%= raffle.prize %> </h4>
      <h5> Ticket Id: <%= %>
    <% if raffle.user_id == current_user.id %>
        <div class="blink_me">
        <h2>  You Won! </h2>
      </div>
      </div>
    <% end %>
  </div>
  </div>
<% end %>
</div>

<button class="btn inline"><%= link_to 'View Ongoing WynRaffles', raffles_path %></button>
