<p id="notice"><%= notice %></p>

<div class="showheader"> WynRaffe Profile </div>
<div class="container l ">
<div class="row">
  <div class="col-md-2 y"><strong>First Name</strong></div>
  <div class="col-md-2 x">  <%= @user.first_name %></div>
</div>
<div class="row">
  <div class="col-md-2 y"><strong>Last Name</strong></div>
  <div class="col-md-2 x ">  <%= @user.last_name %></div>
</div>
<div class="row">
  <div class="col-md-2 y"><strong>Email</strong></div>
  <div class="col-md-2 x">  <%= @user.email %></div>
</div>
<div class="row">
  <div class="col-md-2 y "><strong>Phone Number</strong></div>
  <div class="col-md-2 x ">  <%= @user.phone_number %></div>
</div>
<button class="btn inline bb"><%= link_to 'Update Your Account', edit_user_path(@user) %></button>
  <br> <br>
</div>

<div class="showheader"> WynRaffle Event History </div>
<div class="container m">
<button class="btn inline bb"><%= link_to 'View Ongoing WynRaffles', raffles_path %></button>
<% @user.raffles.each do |raffle|  %>
  <div class="">
    <div class="ticket">
      <%= link_to raffle.title, raffle, class: 'raffle_link' %><br>
    <% if raffle.user_id == current_user.id %>
        <div class="blink_me">
        <h4>  You Won! </h4>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
