<p id="notice"><%= notice %></p>
<h2> Raffe Account </h2>
<div class="row">
  <div class="col-md-2"><strong>First Name</strong></div>
  <div class="col-md-1">  <%= @user.first_name %></div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Last Name</strong></div>
  <div class="col-md-1">  <%= @user.last_name %></div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Email</strong></div>
  <div class="col-md-1">  <%= @user.email %></div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Phone number</strong></div>
  <div class="col-md-1">  <%= @user.phone_number %></div>
</div>
</div>

<h2> Raffle Event History</h2>
<% @user.raffles.each do |raffle|  %>
<div class="all">
<div class="ticket">
    <%= link_to raffle.title, raffle, class: 'raffle_link' %><br><br>
  </div>
  <% if raffle.user_id == current_user.id %>
    <div class="win">
      <h2>  You Won! </h2>
      <h4>  Prize: <%= raffle.prize %> </h4>
    </div>
  <% end %>
<% end %>
</div


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
